
.form {
    width: 500px;
    margin: 20px auto;
    padding: 20px;
    background: dimgray;
    display: flex;
    flex-direction: column;
    gap: 20px;

    input, button {
        padding: 5px 15px;
        width: 100%;
        background: white;
    }
}

.todoList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
    margin: 0 auto;

    .todo {
        display: flex;
        justify-content: space-between;
        background: red;
        padding: 8px;

        .info {
            display: flex;
            flex-direction: column;
            gap: 10px;

            h3 {
                font-weight: 400;
            }
        }

        .buttons {
            background: blue;
            display: flex;
            flex-direction: column;
            gap: 8px;

            button {
                padding: 5px 15px;
                width: 100%;
                background: white;
                cursor: pointer;
            }
        }
    }
}